<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/scripts/css/materialize.min.css' />
    <script src="/scripts/jquery.min.js" charset="utf-8"></script>
    <script src="/scripts/js/materialize.min.js" charset="utf-8"></script>
    <script src="/scripts/angular.min.js" charset="utf-8"></script>
    <script src="/scripts/angular-resource.min.js" charset="utf-8"></script>
    <script src="/javascripts/app.js" charset="utf-8"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
